<div class="course-group clearfix"><h2 class="border-bottom">{{taxonomy_name}}</h2>
	{{#each posts}}
		<div class="col-md-4">
			<p><a href="{{permalink}}">{{post_title}}</a></p>
		</div>
	{{/each}}
</div>
