{{#if showcols}}
	<div class="item col-md-3 col-xs-6">
{{/if}}

	<div class="course-card">
		{{#if post.thumbnail}}
			<div class="front" style="background-image:url('{{post.thumbnail}}'); background-size: contain;"></div>
		{{/if}}
		<div class="back">
			<h3><a href="{{post.permalink}}">{{post.post_title}}</a></h3>
			<a class="course-info-xs hidden-lg hidden-md hidden-sm" href="{{post.permalink}}" onclick='localStorage.setItem("course-slug", "{{post.post_name}}");'>{{post.num_lesson}} videos | view course ></a>
			<div class="fs-30"><a href="{{post.permalink}}">{{post.num_lesson}} videos</a></div>
			<div class="desc">{{post.excerpt}}</div>
			<div class="bottom-link"><a href="{{post.permalink}}" onclick='localStorage.setItem("course-slug", "{{post.post_name}}");'>view course ></a></div>
		</div>
	</div>

{{#if showcols}}
	</div>
{{/if}}
