<div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6 col-md-4 col-lg-12">
	<div class="qb-resource-item">
		<a href="{{url}}">
			<div class="thumb" style="background: url('{{image}}') center; background-size: cover; height: 100px; margin-bottom: 20px;">
			</div>
			<div class="meta">
				<h3>{{title}}</h3>
				<p>{{description}}</p>
			</div>
		</a>
	</div>
</div>
