<div class='qb-wrapper'>

    <div 	data-default-qb-job-id="{{job}}" 
    		data-qb-content="{{the_content}}" 
    		data-qb-type="{{type}}" 
    		data-qb-n="{{n}}" 
    		data-qb-more-resources="{{more_resources}}" 
    		data-qb-jobs-slider>
	</div>

</div>
