$qb-blue: #0076c5;
$qb-green: #2ca01c;
$qb-gray-text: #393a3d;
$qb-light-gray: #eceef1;
$qb-gray04: #babec5;
$qb-gray05: #d4d7dc;
$qb-gray06: #8d9096;
$qb-white: #fff;
$qb-green-button: #108000;
$qb-gray-background: #d4d7dc;
$qb-gray-background02: #f4f5f8;
$qb-gray-dark-background: #494c53;
$qb-green-background: #53b700;