@-moz-document url-prefix() { 
	.v-ellipsis {
	  position: relative;
	  overflow: hidden;
	  	&:after{
		  content: "";
		  text-align: right;
		  position: absolute;
		  bottom: 0;
		  right: 0;
		  width: 15%;
		  height: 1.2em;
		  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
	  	}
	}

	.qb-wrapper {
		.qb-grid-wrapper{
			.qb-grid-component{
				.grid-item{
					h4{
					  /* Normal line-height to h2: 1.2em */
					  height: 2.4em; /* exactly three lines */
					  @extend .v-ellipsis;
					}

					p{
					  /* Normal line-height to h2: 1.2em */
					  height: 3.9em; /* exactly two lines */  
					  @extend .v-ellipsis;
					}
					&.cta-item{
						h4, p{
							height: auto;
							&:after{
								background: none!important;
							}
						}
					}
				}
			}
		} 
		.qb-related-guide-component .row .section .description h2 a, 
		.qb-related-guide-component .row .section .description p, 
		.v-ellipsis{
			position: relative;
		}

		.qb-related-guide-component .row .section .description p{
			height: 5.9em;
			position: relative;
		}

		.qb-related-guide-component .row .section .description h2 a{
			position: relative;
			height: 3.2em;
		}

		.qb-related-guide-component .row .section .description.guide-page h2 a::after,
		.qb-related-guide-component .row .section .description h2 a::after,
		.qb-related-guide-component .row .section .description.guide-page p::after,
		.qb-related-guide-component .row .section .description p::after{
			// background: #ecedf0!important;
			background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(236, 237, 240, 1) 50%);
		}

		.qb-taxonomy-grid-wrapper .qb-taxonomy-grid-component .taxonomy-item .qb-taxonomy-content .taxonomy-text p{
			position: relative;
			height: 3.9em;
		}

		.qb-taxonomy-grid-wrapper .qb-taxonomy-grid-component .taxonomy-item:hover{
			.qb-taxonomy-content .taxonomy-text p:after{
				background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(212, 215, 220, 1) 50%);
			}
		}

	}

	@media only screen and (max-width: 767px) {
		.qb-wrapper {
			.qb-grid-wrapper{
				.qb-grid-component{
					.grid-item{
						h4{
						  /* Normal line-height to h2: 1.2em */
						  height: 3em; /* exactly three lines */
						}
					}
				}
			} 
		}
	}
}