@media print{

  // Default Print CSS

  .break{
    page-break-inside: avoid;
  }

  .print-hidden{
    display: none!important;
    visibility: hidden;
    height:0!important;
    overflow: hidden;
  }
  * {-webkit-print-color-adjust:exact;}
  .qb-wrapper{
    width: 500px;
    margin: 0 auto;
    .container{
      zoom: 0.55;
    }
  }
  a[href]:after{
    display: none;
  }

  img {
    max-width: 500px;
  }

  @page {
    margin: 0.5cm;
  }

  // Main Layout
  header, footer{
    @extend .print-hidden;
  }

  // Homepage
  .qb-grid-wrapper{
    zoom: 0.92;
    margin: 0 auto;
    @extend .break;
  }

  .qb-taxonomy-grid-wrapper{
    zoom: 0.92;
  }

  // Post Layout
  .qb-call-in-action-reference, .qb-call-in-action-component, .qb-post-popular-component{
    @extend .print-hidden;
  }

  .qb-wrapper .qb-post-banner-component .description{
    padding-bottom: initial!important;
    min-height: auto!important;
  }

  //Author Layout
  .qb-wrapper .qb-author-banner-component .container-graphic .graphic{
    width: 185px!important;
  }

  //Guides
  .qb-wrapper .qb-chapter-banner-component .description{
    padding-bottom: initial!important;
    min-height: auto!important;
  }
  .qb-related-guide-component{
    @extend .break;
  }
  .qb-wrapper .qb-related-guide-component .row .section{
    min-height: auto;
    margin-bottom: 50px;
  }
  .qb-wrapper .qb-related-guide-component .row .section .description{
    min-height: auto;
  }

  // Tutorials
  .qb-wrapper{
    // zoom: 0.;
    // margin: 0 auto!important;
  }
  #home_short_videos{
    @extend .break;
  }
  .lesson-list .loopitem.col-lg-4{
    @extend .break;
  }

}
