/*!
 *  Intuit - qb-jobType-component
 *
 *  (6/23/2017)
 */

@import "../base/001_colors.scss";
@import "../base/003_layout.scss";
// qb-jobType-component 
.qb-wrapper {
    margin: 0 auto;
    .qb-container-carrousel {
        .container {
            padding-left: 40px!important;
            padding-right: 40px!important;
        }
    }
    .qb-jobType-component {
        .qb-jobType-header {
            margin-top: 50px;
            margin-bottom: 20px;
            h1 {
                font-size: 32px;
            }
            h2 {
                font-size: 32px;
                font-family: 'GrotesqueMedium';
                text-align: left;
            }
            #filter {
                max-width: 240px;
                border: 1px solid #d4d7dc;
                border-radius: 5px;
                padding: 3px 40px 3px 5px;
                font-size: 15px;
            }
            #filtersubmit {
                position: relative;
                z-index: 1;
                left: -35px;
                top: 1px;
                color: #7B7B7B;
                cursor: pointer;
                width: 0;
            }
        }
        .qb-jobType-menu {
            font-size: 15px;
            font-family: "AvenirNextRegular";
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    display: inline-block;
                    padding-bottom: 7px;
                    margin-right: 10px;
                    cursor: pointer;
                    &.active,
                    &:hover {
                        font-family: "AvenirNextDemi";
                        border-bottom: 2px solid #23a209;
                        a {
                            color: #505050;
                        }
                    }
                }
            }
        }
        .qb-see-more {
            margin-top: 20px;
            text-align: center;
            color: #393a3d;
            text-decoration: underline;
            display: block;
        }
        .qb-background-gray {
            padding-top: 20px;
            margin-top: -45px
        }
        .qb-tabs-content{
            min-height: 328px;
            height: 100%;
            .loader{
                &:after, &:before{
                    background: #f4f5f8;
                }
            }
        }
        .qb-jobType-carousel {
            font-size: 12px;
            text-align: center;
            .slick-list {
                //overflow-y: visible!important; 
            }
            &.slick-slider {
                margin-top: 40px;
                margin-bottom: 15px!important;
            }
            .slick-slide {
                padding-bottom: 35px;
            }
            a {
                font-family: "AvenirNextRegular";
                text-transform: uppercase;
                color: #393a3d;
                display: inline-block;
                background-position: 0 -9000px!important;
                height: 80px;
                width: 100%;
                position: relative;
                opacity: 1;
                transition: opacity .60s ease-in-out;
                span {
                    padding-top: 5px;
                }
                img {
                    opacity: 1;
                    margin: 0 auto;
                    transition: opacity 0s ease-in-out;
                    padding-bottom: 5px;
                }
                &.active,
                &:hover {
                    font-family: "AvenirNextDemi";
                    opacity: 1;
                    background-position: top center!important;
                    text-decoration: none;
                    
                    img {
                        opacity: 0;
                    }
                    &:after {
                        content: '';
                        width: 0;
                        height: 0;
                        border-left: 20px solid transparent;
                        border-right: 20px solid transparent;
                        border-top: 15px solid #fff;
                        position: absolute;
                        left: 33%;
                        top: 100%;
                        z-index: 0
                    }
                }
            }
        }
        .qb-jobType-video-item {
            height: 260px;
            overflow: hidden;
            border-bottom: 2px solid #d4d7dc;
            background: #fff;
            margin-bottom: 20px;
            .qb-jobType-video-thumb {
                position: relative;
                .webinar-box {
                    background: #000;
                    padding: 8px 10px;
                    position: absolute;
                    left: 20px;
                    color: white;
                    font-size: 12px;
                    text-transform: uppercase;
                    line-height: 1;
                    border-bottom: 1px dashed white;
                }
                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: url("https://usquickstart.qbcontent.com/content/themes/qs2/resources/assets/img/video-thumb-overlay.png");
                    background-size: cover;
                    opacity: 0.7;
                    transition: opacity 100ms ease-in-out;
                    width: 100%;
                    min-height: 170px;
                    &:hover {
                        opacity: 1;
                    }
                }
                .preview {
                    width: 100%;
                    min-height: 170px;
                }
            }
            .qb-jobType-video-meta {
                margin-left: 20px;
                margin-right: 20px;
                margin-top: 3px;
                height: 90px;
                font-size: 19px;
                display: flex;
                align-content: center;
                flex-flow: row wrap;
                h4 {
                  font-family: 'AvenirNextDemi';
                  font-size: 19px;
                  margin: 0 0 2px 0;
                  @extend .v-ellipsis;
                  -webkit-line-clamp: 2;
                  line-height: 1.2;
                  flex: 0 0 100%;
                }
                p {
                    font-family: 'AvenirNextRegular';
                    line-height: 1;
                    @extend .h-ellipsis;
                }
            }
        }
        .qb-resource-item {
            height: 270px;
            padding: 20px;
            overflow: hidden;
            border-bottom: 2px solid #d4d7dc;
            background: #fff;
            margin-bottom: 30px;
            .thumb {
                float: left;
                width: 100%;
            }
            .meta {
                float: left;
                width: 100%;
                h3 {
                    font-size: 19px;
                    @extend .v-ellipsis;
                    -webkit-line-clamp: 2;
                    margin-bottom: 20px;
                }
                p {
                    font-size: 15px;
                    @extend .v-ellipsis;
                    -webkit-line-clamp: 3;
                }
            }
        }
    }
    .qs-visible{
        visibility: visible;
        opacity: 1;
        transition: opacity 500ms linear;
    }

    .qs-hidden{
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s 0s, opacity 0s linear;
    }
}


/* Small devices (tablets, 768px and up) */

@media (max-width: 768px) {
    .qb-wrapper {
        .qb-jobType-component {
            .qb-jobType-video-item {
                height: auto;
                .qb-jobType-video-thumb {
                    .overlay,
                    .preview {
                        height: 340px;
                        background-position: center;
                    }
                }
                .qb-jobType-video-meta {
                    margin-bottom: 20px;
                }
            }
            .qb-resource-item {
                height: 120px;
                padding: 10px;
                .thumb {
                    width: 45%;
                    height: 100px;
                    background-position: center;
                }
                .meta {
                    width: 45%;
                    h3 {
                        margin-top: 25px;
                    }
                    p {
                        display: none;
                    }
                }
            }
        }
    }
}


/* Small devices (mobiles, 480px and up) */

@media (max-width: 480px) {
    .qb-wrapper {
        .qb-jobType-component {
            .qb-jobType-carousel{
              a{
                &.active, &:hover{
                  &:after{
                    left: 38%;
                  }
                }
              }
            }
            .qb-jobType-video-item {
                height: auto;
                .qb-jobType-video-thumb {
                    .overlay,
                    .preview {
                        height: 200px;
                        background-position: center;
                    }
                }
                .qb-jobType-video-meta {
                    margin-bottom: 20px;
                }
            }
            /*Styles of the Job type component without slick slider*/
            .job-filters-container {
                height: 100px;
                margin-bottom: 30px;
                overflow: hidden;
            }
            .job-filters-parent {
                height: 120px;
                margin-bottom: 20px;
                clear: both;
                position: relative;
                white-space: nowrap;
                overflow-x: auto;
                overflow-y: hidden;
                text-align: center;
                width: auto;
            }
            .container.job-filters {
                min-height: 140px;
                margin: 0;
                padding-bottom: 0;
                font-size: 12px;
                text-align: center;
                width: 1056px;
                height: 118px;
                padding: 0 33px;

                & div:first-of-type {
                    width: 100%;
                    height: 118px;

                    div {
                        width: 110px;
                        height: 118px;
                    }
                }
                .job-types-item {
                    float: left;
                    width: 110px;
                    margin: 0;
                    padding: 0 0 35px;
                    outline: none;
                    a {
                        font-family: "AvenirNextRegular";
                        text-transform: uppercase;
                        color: #393a3d;
                        display: inline-block;
                        background-position: 0 -9000px!important;
                        height: 80px;
                        width: 100%;
                        position: relative;
                        opacity: 1;
                        transition: opacity .60s ease-in-out;
                        span {
                            padding-top: 5px;
                        }
                        img {
                            opacity: 1;
                            margin: 0 auto;
                            transition: opacity 0s ease-in-out;
                            padding-bottom: 5px;
                            display: block;
                        }
                        &.active {
                            font-family: "AvenirNextDemi";
                            opacity: 1;
                            background-position: top center!important;
                            text-decoration: none;
                            
                            img {
                                opacity: 0;
                            }
                            &:after {
                                content: '';
                                width: 0;
                                height: 0;
                                border-left: 20px solid transparent;
                                border-right: 20px solid transparent;
                                border-top: 15px solid #fff;
                                position: absolute;
                                left: 35px;
                                top: 100%;
                                z-index: 0
                            }
                        }
                    }
                }
            }
        }
    }
}
