/*!
 *  Intuit - qb-search-page
 *
 *  (6/23/2017)
 */


@import "../base/001_colors.scss";
@import "../base/003_layout.scss";

// qb-tutorial-page 
.qb-wrapper{
  margin: 0 auto;
  .qb-search-page{
    .qb-background-gray{
      padding-top: 20px;
    }
    .qb-tutorial-back{
      font-family: 'AvenirNextMedium';
      margin-top: 50px;
      margin-bottom: 20px;
      i{
        font-size: 17px;
      }
    }
    .qb-tutorial-header {
      margin-bottom: 30px;
      h1 {
        font-size: 32px;
      }
      h2 {
        font-size: 32px;
        font-family: 'GrotesqueMedium';
      }
      #filter {
        max-width: 240px;
        border: 1px solid #d4d7dc;
        border-radius: 5px;
        padding: 3px 40px 3px 5px;
        font-size: 15px;
      }
      #filtersubmit {
        position: relative;
        z-index: 1;
        left: -35px;
        top: 1px;
        color: #7B7B7B;
        cursor: pointer;
        width: 0;
      }
    }
    .qb-tutorial-tags{
      padding-top: 20px;
      h4{
        //display: none;
        margin-bottom: 20px;
      }
      .content{
        padding-top: 20px;
        border-top: 1px solid #d4d7dc;
      }
      ul{
        margin:0;
        padding:0;
        list-style:none;
        li{
          display: inline-block;
          margin-right: 10px;
          margin-bottom: 10px;
          a{
            padding: 5px 10px;
            font-size: 15px;
            background: #babec5;
            display: inline-block;
          }
        }
      }
    }
    .qb-jobType-component{
      .qb-jobType-header{
        margin-top: 50px;
        margin-bottom: 20px;
        h1{
          font-size:32px;
        }
        h2{
          font-size:32px;
          font-family: 'GrotesqueMedium';
        }
      }
      .qb-jobType-menu{
        font-size: 15px;
        font-family: "AvenirNextRegular";
        margin-bottom: 20px;
        ul{
          margin:0;
          padding: 0;
          list-style: none;
          li{
            display: inline-block;
            padding-bottom: 7px;
            margin-right: 10px;
            &.active, &:hover{
              font-family: "AvenirNextDemi";
              border-bottom: 2px solid #23a209;
              a{
                color: #505050;
              }
            }
          }
        }
      }
      .qb-jobType-carousel{
        font-size: 12px;
        text-align: center;
        .slick-list{
          //overflow-y: visible!important; 
        }
        &.slick-slider{
          margin-top: 40px; 
          margin-bottom: 15px!important;  
        }
        .slick-slide{
          padding-bottom: 35px;
        }
        a{
          font-family: "AvenirNextRegular";
          text-transform: uppercase;
          color: #393a3d;
          display: inline-block;
          background-position: 0 -9000px!important;
          height: 80px;
          width: 100%;
          position: relative;
          opacity:1;
          transition: opacity .60s ease-in-out;

          span{
            padding-top: 5px;
          }

          img{
            opacity: 1;
            margin: 0 auto;
            transition: opacity .30s ease-in-out;
            padding-bottom: 5px;
          }

          &.active, &:hover{
            font-family: "AvenirNextMedium";
            opacity: 1;
            background-position: top center!important;
            img{
              opacity: 0;

            }
            &:after{
              content: '';
              width: 0; 
              height: 0; 
              border-left: 20px solid transparent;
              border-right: 20px solid transparent;
              border-top: 15px solid #fff;
              position: absolute;
              left: 33%;
              top: 100%;
              z-index: 0
            }
          }
        }
      }
      .qb-jobType-video-item{
        height: 260px;
        overflow: hidden;
        border-bottom: 2px solid #d4d7dc;
        background: #fff;
        margin-bottom: 20px;
        .qb-jobType-video-thumb{
          position: relative;

          .webinar-box{
            background: #000;
            padding: 8px 10px;
            position: absolute;
            left: 20px;
            color: white;
            font-size: 12px;
            text-transform: uppercase;
            line-height: 1;
            border-bottom: 1px dashed white;
          }

          
          .overlay{
            position: absolute;
            top:0;
            left:0;
            background: url("https://usquickstart.qbcontent.com/content/themes/qs2/resources/assets/img/video-thumb-overlay.png");
            background-size: cover;
            opacity: 0.7;
            transition: opacity 100ms ease-in-out;
            width: 100%;
            min-height: 170px;
            &:hover{
              opacity: 1;
            }
          }
          .preview{
            width: 100%;
            min-height: 170px;
          }
        }
      }
      .qb-resource-item{
        height: 260px;
        padding: 20px;
        overflow: hidden;
        border-bottom: 2px solid #d4d7dc;
        background: #fff;
        margin-bottom: 30px;

        .thumb{
          float: left;
          width: 100%;
        }

        .meta{
          float: left;
          width: 100%; 
          h3{
            font-size: 19px;
            @extend .v-ellipsis;
            -webkit-line-clamp: 2;
          }
          p{
            font-size: 15px;
            @extend .v-ellipsis;
            -webkit-line-clamp: 3;
          }
        }
      }
      #sfilter {
        width: 100%;
        border: 0;
        border-bottom: 1px solid #d4d7dc;
        padding: 3px 40px 3px 5px;
        font-size: 32px;
        font-family: GrotesqueMedium;
        outline: none;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: #d4d7dc;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: #d4d7dc;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: #d4d7dc;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: #d4d7dc;
        }
      }
      #sfiltersubmit {
        position: relative;
        z-index: 1;
        left: 97%;
        top: -40px;
        color: #7B7B7B;
        cursor: pointer;
        width: 0;
      }
      .qb-see-more{
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        color: #393a3d;
        text-decoration: underline;
        display: block;
      }
    }
  }
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .qb-wrapper{
    .qb-search-page{
      .qb-jobType-component{
        .qb-jobType-video-item{
          height: auto;
          .qb-jobType-video-thumb{
            .overlay, .preview{
              height: 340px;
              background-position: center;
            }
          }
          .qb-jobType-video-meta{
            margin-bottom: 20px;
          }
        }
        .qb-resource-item{
          height: 120px;
          padding: 10px;
          .thumb{
            width: 45%;
            height: 100px;
            background-position: center;
          }
          .meta{
            width: 45%;
            h3{
              margin-top: 25px;
            }
            p{
              display: none;
            }
          }
        }
      }
    }
  }
}

/* Small devices (mobiles, 480px and up) */
@media (max-width: 480px) {
  .qb-wrapper{
    .qb-search-page{
      .qb-jobType-component{
        .qb-jobType-video-item{
          height: auto;
          .qb-jobType-video-thumb{
            .overlay, .preview{
              height: 200px;
              background-position: center;
            }
          }
          .qb-jobType-video-meta{
            margin-bottom: 20px;
          }

        }
      }
    }
  }
}
