/*!
 *  Intuit - qb-tutorial-page
 *
 *  (6/23/2017)
 */


@import "../base/001_colors.scss";
@import "../base/003_layout.scss";

// qb-tutorial-page 
.qb-wrapper {
  margin: 0 auto;
  .qb-tutorial-page {
    .qb-tutorial-back{
      font-family: 'AvenirNextMedium';
      margin-top: 50px;
      margin-bottom: 20px;
      i{
        font-size: 17px;
      }
    }
    .qb-tutorial-header {
      margin-bottom: 30px;
      h1 {
        font-size: 32px;
      }
      h2 {
        font-size: 32px;
        font-family: 'GrotesqueMedium';
      }
      #filter {
        max-width: 240px;
        border: 1px solid #d4d7dc;
        border-radius: 5px;
        padding: 3px 40px 3px 5px;
        font-size: 15px;
      }
      #filtersubmit {
        position: relative;
        z-index: 1;
        left: -35px;
        top: 1px;
        color: #7B7B7B;
        cursor: pointer;
        width: 0;
      }
    }
    .qb-tutorial-main {
      .container{
        position: relative;
        .qb-social-media{
          position: absolute;
          left: -30px;
          top: 30px;
          ul{
            margin: 0;
            padding: 0;
            list-style: none;
            li{
              font-size: 25px;
              line-height: 1.1;
              cursor: pointer;
            }
          }
        }
        .row{
          margin-top: 30px;
          padding-bottom: 20px;
          margin-bottom: 60px;
          .qb-tutorial-content {
            background: #fff;
            padding: 20px 20px 10px 20px;
            margin-bottom: 20px;
            .image{
              padding-left: 5px;
              padding-right: 5px;
              height: 315px;
              margin-bottom: 20px;
            }
            .title{
              border-bottom: 2px solid #eceef1;
              p{
                margin-bottom: 20px;
              }
              ul{
                margin:0;
                padding:0;
                list-style: none;
                li{
                  display: inline-block;
                  a{
                    background: #393a3d;
                    border-radius: 3px;
                    color: #fff;
                    font-size: 14px;
                    padding: 8px 12px;
                    margin-bottom: 20px;
                    display: inline-block;
                  }        
                }
              }
            }
            .text{
              h3{
                margin-top: 20px;
                margin-bottom: 20px;
              }
            }
            .qb-full-description{
              padding-top:15px; 
              display: none;
            }
            .vc_row{
              margin-left: 0!important;
              margin-right: 0!important;
            }
          }
          .qb-tutorial-sidebar {
            .qb-tutorial-list{
              h3{
                margin-bottom: 20px;
              }
              ul{
                margin:0;
                padding: 0;
                list-style: none;
                li{
                  a{
                    width: 100%;
                   .item{
                    display: flex;
                    flex: 0 0 100%;
                    height: 60px;
                    font-family: 'AvenirNextDemi';
                    font-size: 15px;
                    background: #fff;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 15px;   
                    .thumb{
                      flex: 0 0 100px;
                      position: relative;
                      height: 60px;
                      .play{
                        position: absolute;
                        z-index: 1002;
                        top: 15%;
                        left: 30%;
                      }
                      .preview{
                        position: absolute;
                        top:0;
                        left:0;
                        z-index: 1000;
                        width: 100px;
                        height: 60px;
                      }
                      .overlay{
                        background: rgba(0,0,0,0.5);
                        opacity: 0.7;
                        transition: opacity 100ms ease-in-out;
                        height: 60px;
                        width: 100px;
                        z-index: 1001;
                        position: absolute; 
                        &:hover{
                          opacity: 0.9;
                        }
                      }
                    }
                    .meta{
                      flex: 1;
                      margin-left: 15px;
                      margin-right: 15px;
                    }
                  }
                  }

                }
              }
            }
            .qb-tutorial-webinar{
              h4{
                font-family: 'AvenirNextDemi';
                font-size: 15px;
                line-height: 24px;
              }
              a{
                margin-top: 12px;
                font-family: 'AvenirNextDemi';
                font-size: 14px; 
                padding: 8px 15px;
                border-radius: 5px;
                display: inline-block;
                border:1px solid #393a3d;
              }
            }
            .qb-tutorial-tags{
              margin-top: 20px;
              h4{
                display: none;
              }
              ul{
                margin:0;
                padding:0;
                list-style:none;
                li{
                  display: inline-block;
                  margin-right: 10px;
                  margin-bottom: 10px;
                  a{
                    padding: 5px 10px;
                    background: #babec5;
                    display: inline-block;
                    font-size: 15px;
                  }
                }
              }
            }

          }
          #video{
            background: #fff;
          }
        }
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 991px) {
  .qb-wrapper{
    .qb-tutorial-page {
      .qb-tutorial-main {
        .row{

          .qb-tutorial-content{
            #qb-tutorial-toggle{
              .vc_column_container{
                .vc_column-inner {
                  padding: 0;
                } 
              }
            }
          }


          .qb-tutorial-sidebar{
            .qb-tutorial-list{
              ul{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                li{
                  flex: 0 0 49%;
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: space-between;
                  .item{
                    //flex: 0 0 49%;
                  }
                }
              }
            }
            .qb-tutorial-webinar{
              h4, a{
                margin-left: 50%;
              }
            }
            .qb-tutorial-tags{
              h4{
                display: block;
                margin-bottom: 20px;
              }
            }
          }
        }
      }
    }
  }
}

/* Small devices (mobiles, 480px and up) */
@media (max-width: 480px) {
  .qb-wrapper{
        .qb-tutorial-page {
      .qb-tutorial-main {
        .qb-social-media{
          display: none;
        }
        .row{
          .qb-tutorial-content{
            #qb-tutorial-toggle{
              height: 100%;
              transition: height 300ms linear;
              & > div{
                margin-top: 20px;
                margin-bottom: 20px;
              }
              &.toggle-open{
                height: 100%;
              }
              &.toggle-close{
                height: 0;
                overflow: hidden;
              }

              .vc_column_container{
                .vc_column-inner {
                  padding: 0;
                } 
              }
            }
            
            #qb-tutorial-toggle-button{
              i{
                transition: transform 300ms ease-in-out;
                &.open{
                  transform: rotate(180deg) ;
                }
              }
            }
          
            .qb-full-description{
              display: block!important;
            }
          }
          .qb-tutorial-sidebar{
            .qb-tutorial-list{
            }
            .qb-tutorial-webinar{
            }
            .qb-tutorial-tags{
              h4{
              }
            }
          }
        }
      }
    }
    
    
  }
}
