<div class="loopitem {{css_mobile}} {{css_tablet}} {{css_desktop}}">
	{{#if thumbnail}}
		<div class="thumb">
			<a href="{{permalink}}"><div class="{{class_overlay}}"></div>{{{thumbnail}}}</a>
		</div>
	{{/if}}
	<div class="meta">
		<h4><a href="{{permalink}}" onClick="localStorage.setItem('course-slug', '{{course}}')">{{title}} - {{time}}</a></h4>
		{{#if yoast }}
			<div class="excerpt">
				{{yoast}}
			</div>
		{{/if}}
	</div>
</div>
