
<div id="search_results" class="container">

	<h2>{{search_title}}</h2>

	<div id="keywords">
		<h3>{{search_text}}: <span class="keyword">{{query}}</span></h3>
	</div>

	<h4>{{search_tutorial_title}}</h4>

	<div class="row">

		{{#each posts}}

			{{#if sfwd-lessons}}

				{{#if even}}
					</div><div class="row">
				{{/if}}

				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 tutorial-result-container">

					<div class="col-md-6 col-sm-4 col-xs-6">

						{{#if thumbnail}}
							<a href="{{permalink}}" {{#if time}} class="playable-content" {{/if}}>
								<img src="{{thumbnail}}" class="play-img thumbnail">
							</a>
						{{/if}}

					</div>

					<div class="col-md-6 col-sm-8 col-xs-6 un-search-box">

						<p class="link"><a href="{{permalink}}">{{post_title}}{{#if time}} - {{time}}{{/if}}</a></p>

						{{#if intro}}
							<div class="excerpt">{{intro}}</div>
						{{/if}}

					</div>

				</div>

			{{/if}}

		{{/each}}

	</div>

	<div class="row course">

		<h4>{{search_course_title}}</h4>

		{{#each posts}}

			{{#if sfwd-courses}}

				<div class="col-sm-3 col-xs-6 un-search-box-tutorial">

					<div class="tdcourse">

						{{#if thumbnail}}
							<p>

							{{#if thumbnail}}
								<a href="{{permalink}}">
							{{/if}}

							<img src="{{thumbnail}}" class="thumbnailcourse"></p>

							{{#if thumbnail}}
								</a>
							{{/if}}

							</p>

						{{/if}}

						<p class="linkcourse t"><a href="{{permalink}}">{{post_title}}</a></p>
						<a class="course-info-xs hidden-lg hidden-md" href="{{permalink}}">{{bound_lessons.length}} videos | view course ></a>

					</div>

					<br />

				</div>

			{{/if}}

		{{/each}}

	</div>

</div>
