<div class="qb-wrapper">
  <div class="qb-search-page">    
    <div class="qb-background-gray">
      <div class="qb-jobType-component">
        <div class="container">
          <div class="row">
          	{{#each posts}}
				{{#if sfwd-lessons}}
					<div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6 col-md-4 col-lg-12">
		              <div class="qb-jobType-video-item">
		                <a href="{{permalink}}">
		                  <div class="qb-jobType-video-thumb">
		                    <div class="overlay"></div>
		                    <div class="preview" style="background: url({{thumbnail}}); background-size: cover;"></div>
		                  </div>
		                  <div class="qb-jobType-video-meta">
		                    <h4>{{post_title}}</h4>
		                    <span>{{#if time}}{{time}}{{/if}}</span>
		                  </div>
		                </a>
		              </div>
		            </div>
				{{/if}}
			{{/each}}
			<div id="show_more_div" class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-12 col-md-12 col-lg-12"
				{{#if only_one_page }} style="display:none;" {{/if}}
			>
				<div class="col-md-12"><a class="qb-see-more show_more_search" href="#">See more</a></div>
			</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>

	var search_pagination = {
		key: '{{query}}',
		page : 1
	};

	$(document).ready(function(){
		
		$('.show_more_search').click(function(){
			var new_items = '';
			var new_item = '';
			
			search_pagination.page++;
			
			$.get( "{{service_url}}", search_pagination, function( data ) {
			  	
			  	if(data.max_num_pages == search_pagination.page){
			  		$('.show_more_search').hide();
			  	}
			  	  
				$.each( data.posts, function( key, aPost ) {
				    var new_item = '';
					new_item += '<div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6 col-md-4 col-lg-12">';
					new_item += '<div class="qb-jobType-video-item">';
				    new_item += '<a href="'+ aPost.permalink + '">';
				    new_item += '<div class="qb-jobType-video-thumb">';
				    new_item += '<div class="overlay"></div>';
				    new_item += '<div class="preview" style="background: url('+ aPost.thumbnail + '); background-size: cover;"></div>';
				    new_item += '</div>';
				    new_item += '<div class="qb-jobType-video-meta">';
				    new_item += '<h4>'+ aPost.post_title + '</h4>';
				    new_item += '<span>'+ aPost.time + '</span>';
				    new_item += '</div>';
				    new_item += '</a>';
				    new_item += '</div>';
				    new_item += '</div>';
					new_items += new_item;
				});
				
				$(new_items).insertBefore( "#show_more_div" );
				
			});
		});
	});
</script>