<div class="lesson-step">

	<div class="number"></div>
	<h3>{{heading}}</h3>
	<div class="inner">
		{{{content}}}
	</div>

	<div class="zoomimage" id="zoom_{{uid}}">
	  <div class="to-video-modal" id="{{uid}}">
			<img src="{{image}}" alt="">
	  </div>
	</div>

</div>
